h1 {
  color: red;
  font-size: 175%;
}
p {
  font-family: "Arial";
  text-indent: 19px;
  margin-left: 8px;
}

#content {
  background-color: #BEBEBE;
  width:520px;
  min-height: 250px;
  padding: 7px;
  margin:9px;
  border: solid 1px #127343
  font-size: 15px;
}
